.infoDiv{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: #fff;
  color: #404040;
  display: flex;
  max-width: 500px;
  margin: 5% auto;
  flex-direction: column;
  max-height: 800px;
}

.infoDiv a{
  text-decoration: none;
  color: #262626;
  font-weight: bold;
}

.infoDiv a:hover{
  color: #595959;
}

.usersList {
  margin-top: 5em;
  margin-left: 8%;
  width: 50%;
}

.miniInfo{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: #fff;
  color: #404040;
  display: flex;
  width: 100%;
  margin-top: 2em;
  flex-direction: row;
  max-height: 200px;
  border: 1px solid silver;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.5rem;
}
.mainDiv{
  display: flex;
  flex-direction: row;
}

.miniInfo .miniMainInfo {
  margin-left: 2em;
}

.miniInfo a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.miniInfo a:hover{
  color: #595959;
}

.infoDiv h2{
  text-align: center;
}

.infoDiv h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.mainInfo{
  flex: 2;
  margin-left: 2em;
  padding: 0.5em 1em;
  line-height: 2;
}

.imgDiv {
  flex: 1;
  margin-top: 1em;
  height: 150px;
  width: 150px;
  color: #666666;
  padding: 1em 1em 1em;
}

.infoDiv a{
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.moreInfo{
  margin-top: 1.5em;
  max-width: 500px;
  word-wrap: break-word;
}

.administration{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.administration .miniInfo{
  border: none;
  width: 90%;
  padding: 0;
  margin-top: 0;
}

.administration input[type="submit"]{
  margin-left: 1rem;
  margin-bottom: 0;
}


@media (max-width: 700px) {
  .infoDiv{
    margin-bottom: 50%;
  }
}

@media (max-width: 600px) {

  .infoDiv{
    margin-left: 10px;
    margin-right: 10px;
  }

}

@media (max-width: 400px) {



    .mainInfo{
      margin-left: 0;
    }

    .mainDiv {
      flex-direction: column;
    }
}
